@font-face {
    font-family: Roboto;
    src: url(../../fonts/Roboto.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../../fonts/Inter.ttf);
}

@font-face {
    font-family: Outfit;
    src: url(../../fonts/Outfit.ttf);
}

* {
    font-family: Roboto;
    font-size: 16px;
}


/* navbar1 */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.login-navbar .nav-link {
    color: #181818 !important;
    font-size: 16px;
    font-weight: 400;
    padding-left: 32px !important;
}

.login-navbar .nav-link:hover {
    color: #0072B1 !important;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu.show {
    -webkit-animation: fadeIn 0.3s alternate;
    /* Safari 4.0 - 8.0 */
    animation: fadeIn 0.3s alternate;
}

.nav-item.dropdown.dropdown-mega {
    position: static;
}

.nav-item.dropdown.dropdown-mega .dropdown-menu {
    width: 90%;
    top: 106%;
    left: 5%;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}

.navbar-toggler {
    border: none;
    padding: 0;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler .hamburger-toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    z-index: 11;
    float: right;
}

.navbar-toggler .hamburger-toggle .hamburger {
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    pointer-events: none;
}

.navbar-toggler .hamburger-toggle .hamburger span {
    width: 100%;
    height: 4px;
    position: absolute;
    background: #333;
    border-radius: 2px;
    z-index: 1;
    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
    left: 0px;
}

.navbar-toggler .hamburger-toggle .hamburger span:first-child {
    top: 10%;
    transform-origin: 50% 50%;
    transform: translate(0% -50%) !important;
}

.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
}

.navbar-toggler .hamburger-toggle .hamburger span:last-child {
    left: 0px;
    top: auto;
    bottom: 10%;
    transform-origin: 50% 50%;
}

.navbar-toggler .hamburger-toggle .hamburger.active span {
    position: absolute;
    margin: 0;
}

.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
    top: 45%;
    transform: rotate(45deg);
}

.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
    left: 50%;
    width: 0px;
}

.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
    top: 45%;
    transform: rotate(-45deg);
}

.modal-section {
    padding: 40px;
    border-radius: 8px;
    border: none;
}

.login-signup-form .login-label {
    padding-top: 32px;
}

.login-signup-form .login-password {
    margin-top: 20px;
    margin-bottom: 0px !important;
}

.login-signup-form .form-checkbox {
    padding-top: 12px;
    margin-bottom: 0px !important;
}

.form-checkbox .form-check-pass {
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

.login-signup-form .sign-up {
    text-align: center;
}

.login-signup-form .sign-up p {
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0px;
}

.login-signup-form .sign-up span {
    color: #0072B1;
    font-family: Roboto;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
}


/* ================================================================================================== */

.mega-menu-top {
    margin-top: 32px;
}

.mega-menu-top h2 {
    color: #0072B1;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}

.mega-menu-top a {
    color: #0072B1;
    float: left;
    font-size: 20px;
    font-weight: 500;
    text-decoration-line: underline;
    margin-top: -35px;
}

.service-links {
    padding-top: 20px;
}

.service-links ul {
    padding-left: 0rem;
    list-style-type: none;
}

.service-links ul li {
    padding-bottom: 12px;
}

.service-links ul li a {
    color: #7D7D7D;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    list-style-type: none;
}

.service-links ul li a {
    text-decoration: none;
}

.navbar {
    border-bottom: 1px solid rgba(24, 24, 24, 0.20);
    background: #FFF;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    /* Prevents smooshed text for screen readers */
}

form.search-container {
    display: inline;
    margin-right: -81px;
}

.search-box1 {
    width: 40px;
    height: 40px;
    margin-top: 3px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background: #0072B1;

    &+label .search-icon {
        color: #FFF
    }

    &:hover {
        border: none;

        &+label .search-icon {
            color: white
        }
    }

    &:focus {
        border: none;
        box-shadow: none;
        padding-left: 15px;
        cursor: text;
        width: 200px;
        border-radius: auto;
        background: rgb(235, 235, 235);
        color: black;

        &+label .search-icon {
            color: black;
        }
    }

    &:not(:focus) {
        text-indent: -4000px;
    }

    // for more-graceful falling back (:not browsers likely support indent)
}

#search-submit {
    position: relative;
    left: -4000px;
}

.search-icon {
    position: relative;
    left: -30px;
    color: white;
    cursor: pointer;
}

.search-btn {
    border-radius: 4px;
    border-top: 1.3px solid #0072B1;
    border-right: 1.3px solid #0072B1;
    border-bottom: 1.3px solid #0072B1;
    background: #0072B1;
    margin-right: 24px;
    padding: 8px 10px;
}

.login-btn {
    border-radius: 4px;
    background: #0072B1;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 16px;
}

.login-btn:hover {
    color: #FFF;
}

.register-btn {
    border-radius: 4px;
    border: 2px solid #0072B1;
    color: #0072B1;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 16px;
}

.register-btn:hover {
    color: #0072B1;
}

.login-btn {
    border-radius: 4px;
    background: #0072B1;
    color: #FFF;
    /* padding: 8px 16px; */
}

.login-btn:hover {
    background: #0072B1;
    color: #FFF;
}

.modal-header h5 {
    color: #181818;
    font-family: Outfit;
    font-size: 32px;
    font-weight: 700;
    margin: 0 auto;
}

.login-signup-form form label {
    color: #181818;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 8px;
}

.login-signup-form .login-signup-label {
    margin-top: 32px;
}

input.form-control.place {
    box-shadow: none;
    color: #ABABAB;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

form .place {
    border-radius: 4px;
    border: 0.5px solid #0072B1;
    background: #FFF;
    padding: 10px 16px 10px 16px;
}

.field-icon {
    float: right;
    margin-top: -29px;
    margin-right: 16px;
    color: #C2C2C2;
}

.forget-password {
    color: #FC5757;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

.forget-password:hover {
    color: #FC5757;
}

.loginbtn {
    width: 100%;
    border-radius: 4px;
    background: #0072B1;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 10px 20px 10px 20px;
    margin-top: 28px;
}

input#exampleCheck1 {
    box-shadow: none;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px 44px 0px 44px;
    color: #ABABAB;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    padding-top: 24px;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ABABAB;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.buttonssignin {
    margin: 0;
}

.signin button {
    border-radius: 4px;
    border: 0.5px solid #0072B1;
    background: #FFF;
    padding: 8px 20px 8px 20px;
    color: #181818;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.signin button:hover {
    background: #0072B1;
    color: #FFF;
}

.signins button {
    border-radius: 4px;
    border: 0.5px solid #0072B1;
    background: #FFF;
    padding: 8px 20px 8px 20px;
    display: flex;
    align-items: center;
}

.signins button:hover {
    background: #0072B1;
    color: #FFF;
}

.signin,
.signins {
    padding: 0px;
}

.modal-footer {
    display: inline;
    margin-top: 28px;
    padding: 0px;
}

.last-section {
    color: #181818;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    padding: 28px 0px 0px 0px;
    margin: 0px;
}

.last-section .link {
    color: #0072B1;
    font-weight: 500;
    text-decoration: none;
}

.modal-dialog {
    max-width: 550px;
}

.modal-dialog-signup {
    max-width: 555px;
}

button#dropdownMenuButton1 {
    box-shadow: none;
}

ul.dropdown-menu.show {
    margin-left: -331px;
    margin-top: 17px;
}


/* navbar afer login css */

.login-navbar .nav-link {
    color: #181818 !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 32px !important;
}

.login-navbar .nav-link:hover {
    color: #0072B1 !important;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu.show {
    -webkit-animation: fadeIn 0.3s alternate;
    /* Safari 4.0 - 8.0 */
    animation: fadeIn 0.3s alternate;
}

.nav-item.dropdown.dropdown-mega {
    position: static;
}

.nav-item.dropdown.dropdown-mega .dropdown-menu {
    width: 90%;
    top: 106%;
    left: 5%;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}

.navbar-toggler {
    border: none;
    padding: 0;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler .hamburger-toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    z-index: 11;
    float: right;
}

.navbar-toggler .hamburger-toggle .hamburger {
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    pointer-events: none;
}

.navbar-toggler .hamburger-toggle .hamburger span {
    width: 100%;
    height: 4px;
    position: absolute;
    background: #333;
    border-radius: 2px;
    z-index: 1;
    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
    left: 0px;
}

.navbar-toggler .hamburger-toggle .hamburger span:first-child {
    top: 10%;
    transform-origin: 50% 50%;
    transform: translate(0% -50%) !important;
}

.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
}

.navbar-toggler .hamburger-toggle .hamburger span:last-child {
    left: 0px;
    top: auto;
    bottom: 10%;
    transform-origin: 50% 50%;
}

.navbar-toggler .hamburger-toggle .hamburger.active span {
    position: absolute;
    margin: 0;
}

.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
    top: 45%;
    transform: rotate(45deg);
}

.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
    left: 50%;
    width: 0px;
}

.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
    top: 45%;
    transform: rotate(-45deg);
}


/* ================================================================================================== */

.mega-menu-top {
    margin-top: 32px;
}

.mega-menu-top h2 {
    color: #0072B1;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}

.mega-menu-top a {
    color: #0072B1;
    float: left;
    font-size: 20px;
    font-weight: 500;
    text-decoration-line: underline;
}

.service-links {
    padding-top: 20px;
}

.service-links ul {
    list-style-type: none;
}

.service-links ul li {
    padding-bottom: 12px;
}

.service-links ul li a {
    color: #7D7D7D;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    list-style-type: none;
    text-decoration: none;
}

.navbar {
    border: 1px solid rgba(24, 24, 24, 0.20);
    background: #FFF;
}


/* search hidden box */

.icons-sec {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.icons-sec .profile-sec p {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.icons-sec .profile-sec p img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.icons-sec .profile-sec p>span {
    padding-left: 16px;
    padding-right: 24px;
    color: #181818;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    /* Prevents smooshed text for screen readers */
}

form.search-container {
    display: inline;
    margin-right: -85px;
}

.search-box {
    position: relative;
    top: -10px;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: none;

    &+label .search-icon {
        color: black
    }

    &:hover {
        border: none;

        &+label .search-icon {
            color: black, font-size: 24px;
        }
    }

    &:focus {
        border: none;
        box-shadow: none;
        padding-left: 15px;
        cursor: text;
        width: 200px;
        border-radius: 4px;
        background: rgb(235, 235, 235);
        color: black;

        &+label .search-icon {
            color: black;
        }
    }

    &:not(:focus) {
        text-indent: -4000px;
    }

    // for more-graceful falling back (:not browsers likely support indent)
}

.search-icon {
    font-size: 24px;
    display: flex;
    /* margin-top: 13px; */
}

#search-submit {
    position: relative;
    left: -4000px;
}

.search-icon {
    position: relative;
    left: 0px;
    color: black;
}


/* CUSTOM MEDIA QUERIES*/

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1400px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .login-navbar .nav-link {
        padding-left: 0px !important;
    }

    .me-4 {
        margin-right: 12px !important;
    }

    .navbar-brand {
        width: 17%;
    }

    .login-navbar .nav-link {
        font-size: 15px;
    }

    .icons-sec .profile-sec p>span {
        font-size: 15px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .mega-menu-top h2 {
        font-size: 16px;
    }

    .mega-menu-top a {
        font-size: 16px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 479px) {
    .icons-sec .profile-sec p>span {
        font-size: 15px;
    }

    .me-4 {
        margin-right: 12px !important;
    }
}

@media only screen and (max-width: 320px) {
    .icons-sec .profile-sec p>span {
        font-size: 15px;
        padding-left: 8px;
        padding-right: 12px;
    }

    .me-4 {
        margin-right: 12px !important;
    }

    .navbar-brand {
        width: 70%;
    }
}

@media only screen and (max-width: 320px) {
    .search-icon {
        margin-top: 43px !important;
    }

    .search-icon {
        margin-top: 15px !important;
    }
}