.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  background-color: #0072b1;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.card-header:first-child {
  border-radius: 8px 8px 0px 0px;
  height: 59px;
  border: none;
}
.modal-content {
  border-radius: 12px 12px 8px 8px;
  border: none;
}
.model_popup {
  padding: 4px 16px 20px;
  border-radius: 12px;
  background-color: #fff;
  text-align: left;
  font-size: 12px;
}
.model_popup .form-control {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ababab;
  background: #fff;
  width: 100%;
  flex-shrink: 0;
  gap: 12px;
}
.model_popup select {
  width: 100%;
  color: #ababab;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 4px;
  border: 1px solid #ababab;
  background: #fff;
  padding: 8px 0.75rem;
}
.model_popup select:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.model_popup select option {
  color: #ababab;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.model_popup label {
  color: black;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 16px;
}
.btn1 {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #ababab;
  color: #ababab;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
  background-color: #fff;
}
.btn1:hover {
  background: #0072b1;
  color: #fff;
  border: none;
}
.btn2 {
  display: flex;
  padding: 8px 27px 8px 26px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #0072b1;
  float: right;
  border: none;
  margin-top: -32px;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* table css start from here */
.invoice-detail {
  color: #0072b1;
  font-family: Roboto;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

/* BEGIN: TABLE */
.installment-table {
  background-color: #fff;
  border-radius: 8px;
}
.installment-table .hack1 {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.table-img {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  margin-top: 15px;
}
.installment-table .hack2 {
  display: table-cell;
  overflow-x: auto;
  width: 100%;
}

.installment-table .table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.para-1 {
  margin-left: 10px;
  margin-top: 0px;
}
.para-2 {
  color: var(--Colors-Light-Text, #7d7d7d);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  margin-left: 47px;
  margin-top: -20px;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  background-color: #0072b1;
}

/* thead area */
.installment-table .table thead tr th {
  color: var(--Colors-Logo-Color, #0072b1);
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.installment-table .table thead tr th:first-child {
  padding: 20px 71px 20px 40px;
}

.installment-table .table thead tr th:nth-child(2) {
  padding: 16px 65px 20px 0px;
}

.installment-table .table thead tr th:nth-child(3),
.installment-table .table thead tr th:nth-child(8),
.installment-table .table thead tr th:nth-child(9),
.installment-table .table thead tr th:nth-child(10) {
  padding: 16px 60px 20px 0px;
}
.installment-table .table thead tr th:nth-child(4) {
  padding: 16px 90px 20px 0px;
}

.installment-table .table thead tr th:nth-child(5) {
  padding: 16px 80px 20px 0px;
}

.installment-table .table thead tr th:nth-child(7) {
  padding: 20px 35px 20px 0px;
}

.installment-table .table thead tr th:nth-child(6) {
  padding: 16px 80px 20px 20px;
}

.installment-table .table thead tr th:last-child {
  padding: 20px 25px 18px 0px;
}

/* tbody area */
.installment-table .table tbody tr td {
  color: var(--Colors-Light-Text, #7d7d7d);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}

.installment-table .table tbody tr td:first-child {
  padding: 20px 51px 20px 40px;
}
.service-class-badge {
  border-radius: 4px;
  background: #0072b1;
  color: #fff;
  font-family: Roboto;
  font-size: 16px !important;
  font-weight: 400;
  line-height: normal;
  padding: 8px 35px;
  margin-top: 5px;
}
.review-text {
  color: var(--Colors-Light-Text, #7d7d7d);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-top: -8px;
}

.installment-table .table tbody tr td:nth-child(2),
.installment-table .table tbody tr td:nth-child(3),
.installment-table .table tbody tr td:nth-child(4),
.installment-table .table tbody tr td:nth-child(5),
.installment-table .table tbody tr td:nth-child(9),
.installment-table .table tbody tr td:nth-child(10) {
  padding: 20px 20px 11px 0px;
}
.installment-table .table tbody tr td:nth-child(6) {
  padding: 20px 52px 14px 20px;
}
.installment-table .table tbody tr td:nth-child(7) {
  padding: 20px 205px 14px 31px;
}
.installment-table .table tbody tr td:nth-child(6) {
  padding: 20px 52px 14px 20px;
}
.installment-table .table tbody tr td:nth-child(8) {
  padding: 10px 50px 15px 0px !important;
}

.installment-table .table tbody tr td:last-child {
  padding: 10px 85px 15px 10px;
  text-align: center;
}

.installment-table .table tbody tr td i {
  margin-left: 15px;
}

.installment-table .table tbody tr td i:first-child {
  color: #0a4279;
  margin: 0px;
}

.installment-table .table tbody tr td i:last-child {
  color: #ff0707;
}
/* action dropdown css */
.expert-dropdown button {
  box-shadow: none !important;
  padding: 0px;
}
.expert-dropdown ul {
  border: none;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.08);
  padding: 12px 0px;
}
.expert-dropdown ul li {
  color: #ababab;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
  padding: 8px 0px 8px 12px;
}
.expert-dropdown ul li:hover {
  border-radius: 2px;
  background: #0072b1;
  color: #ffffff !important;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
  .btn1 {
    margin-left: 0px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background-color: blueviolet;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: chartreuse;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: chocolate;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: #fff;
  }
}
