@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter.ttf);
}

@font-face {
  font-family: Outfit;
  src: url(../../fonts/Outfit.ttf);
}

* {
  font-family: Roboto;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  background-color: #f4fbff;
}

/* ========================================================================= REVIEWS TABLE START HERE =========================================================== */
.rewiew-sec {
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  background: var(--Colors-White, #fff);
}

/* BEGIN: TABLE */

.installment-table .hack1 {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table-img {
  width: 60px;
  height: 40px;
  border-radius: 4px;
  margin-top: 15px;
}

.installment-table .hack2 {
  display: table-cell;
  overflow-x: auto;
  width: 100%;
}

.installment-table .table {
  width: 100%;
  border-collapse: collapse;
}

.installment-table .table td {
}

.para-1 {
  margin-left: 10px;
  margin-top: 0px;
}

.para-2 {
  margin-left: 70px;
  margin-top: -20px;
}

.installment-table .table thead tr {
}
.expert-dropdown button {
  box-shadow: none !important;
}
.expert-dropdown ul {
  border: none;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.08);
  padding: 12px 0px;
}
.expert-dropdown ul li {
  color: #ababab;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
  padding: 8px 0px 8px 12px;
}
.expert-dropdown ul a:hover {
  border-radius: 2px;
  background: #0072b1;
  color: #ffffff !important;
}
.expert-dropdown ul a:hover li {
  border-radius: 2px;
  background: #0072b1;
  color: #ffffff !important;
}
/* thead area */
.installment-table .table thead tr th {
  color: var(--Colors-Logo-Color, #0072b1);
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.installment-table .table thead tr th:first-child {
  padding: 20px 80px 20px 40px;
}

.installment-table .table thead tr th:nth-child(2) {
  padding: 16px 92px 20px 0px;
}

.installment-table .table thead tr th:nth-child(3),
.installment-table .table thead tr th:nth-child(4),
.installment-table .table thead tr th:nth-child(8),
.installment-table .table thead tr th:nth-child(9),
.installment-table .table thead tr th:nth-child(10) {
  padding: 16px 190px 20px 0px;
}

.installment-table .table thead tr th:nth-child(5) {
  padding: 16px 160px 20px 3px;
}

.installment-table .table thead tr th:nth-child(7) {
  padding: 16px 90px 20px 0px;
}

.installment-table .table thead tr th:nth-child(6) {
  padding: 16px 18px 20px 0px;
}

.installment-table .table thead tr th:last-child {
  padding: 16px 40px 20px 20px;
}

/* tbody area */
.installment-table .table tbody tr td {
  color: var(--Colors-Light-Text, #7d7d7d);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}

.installment-table .table tbody tr td:first-child {
  padding: 22px 30px 0px 40px;
}

.review-text {
  color: var(--Colors-Light-Text, #7d7d7d);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-top: -8px;
}
.installment-table .table tbody tr td:nth-child(3) {
  padding: 0px;
}

.installment-table .table tbody tr td:nth-child(2) {
  padding: 20px 20px 0px 0px;
}
.installment-table .table tbody tr td:nth-child(4) {
  padding: 20px 40px 0px 0px;
}
.installment-table .table tbody tr td:nth-child(5) {
  padding: 20px 40px 0px 0px;
}
.installment-table .table tbody tr td:nth-child(6),
.installment-table .table tbody tr td:nth-child(7),
.installment-table .table tbody tr td:nth-child(8),
.installment-table .table tbody tr td:nth-child(9),
.installment-table .table tbody tr td:nth-child(10) {
  padding: 20px 35px 0px 0px;
}

.installment-table .table tbody tr td:last-child {
  padding: 20px 70px 15px 20px;
  text-align: center;
}

.installment-table .table tbody tr td i {
  margin-left: 15px;
}

.installment-table .table tbody tr td i:first-child {
  color: #0a4279;
  margin: 0px;
}

.installment-table .table tbody tr td i:last-child {
  color: #ff0707;
}

/* ===========================================================================================================================================================  */
@media (max-width: 575px) {
  /* table */
  .installment-table .table thead tr th {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .installment-table .table tbody tr td {
  }

  /* table */
}

@media (max-width: 380px) {
  #installment-contant .breadcrumb .breadcrumb-item {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  /* table */
  .installment-table .table thead tr th {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .installment-table .table tbody tr td {
  }

  /* table */
}
