@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter.ttf);
}
@font-face {
  font-family: Outfit;
  src: url(../../fonts/Outfit.ttf);
}

.card-radio {
  background-color: #fff;
}
#hero_section .content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  flex-direction: column;
  margin-bottom: 100px;
}
#hero_section .content h2 {
  color: #0072b1;
  text-align: center;
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}
#hero_section .content .btn {
  display: flex;
  padding: 12px 189px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--Colors-White, #fff);
  border-radius: 4px;
  background: var(--Colors-Logo-Color, #0072b1);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#hero_section .content .radio-inputs {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

#hero_section .content .radio-inputs > * {
  margin: 6px;
}

#hero_section .content .radio-input:checked + .radio-tile {
  border: 2px solid var(--Colors-Logo-Color, #0072b1);
  color: #0072b1;
}

#hero_section .content .radio-input:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #0072b1;
  border: 2px solid var(--Colors-Logo-Color, #0072b1);
}

#hero_section .content .radio-input:checked + .radio-tile .radio-icon svg {
  fill: #0072b1;
}

#hero_section .content .radio-input:checked + .radio-tile .radio-label {
  color: #0072b1;
}

#hero_section .content .radio-input:focus + .radio-tile {
  border: 2px solid var(--Colors-Logo-Color, #0072b1);
}

#hero_section .content .radio-input:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

#hero_section .content .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;

  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

#hero_section .content .radio-tile:hover {
  border-radius: 8px;
  border: 2px solid var(--Colors-Logo-Color, #0072b1);
  background: var(--Colors-White, #fff);
}

#hero_section .content .radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

#hero_section .content .radio-icon svg {
  width: 2rem;
  height: 2rem;
  fill: #494949;
}

#hero_section .content .radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: 15px;
}
a {
  color: #0d6efd;
  text-decoration: none;
}
#hero_section .content .radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#hero_section .content .btn-started {
  color: #0072b1;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #0072b1;
  background: #fff;
  padding: 17px 100px;
  position: relative;
  top: 50px;
}

#hero_section .content .btn-started:hover {
  background-color: #0072b1;
  color: #fff;
}

input {
  display: none;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
  margin-top: 11px;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 14px;
  height: 14px;
  background: #0072b1;
  position: absolute;
  top: 13px;
  left: 2px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.select-reason {
  padding-top: 12px;
  margin-bottom: 0px;
  padding-bottom: 8px;
}
.reason-sec {
  margin-bottom: 0px;
  padding-bottom: 8px;
}
/* .confirm-delete .form-check {
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  padding-top: 8px;
  margin-bottom: 0px;
}
.confirm-delete .form-check-input:checked {
  background-color: #0072b1;
  border-color: #0072b1;
}
.confirm-delete .select-reason {
  padding-top: 12px;
} */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }

  #hero_section .content h2 {
    font-size: 22px;
    width: 335px;
  }
  #hero_section .content .btn {
    padding: 7px 75px;
    font-size: 16px;
    margin-top: 24px;
  }
  #hero_section .content .btn2 {
    padding: 9px 80px;
    font-size: 14px;
    margin-top: 24px;
  }
  #hero_section .content .content-box {
    display: flex;
    flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background-color: blueviolet;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: chartreuse;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: chocolate;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: #fff;
  }
}
