@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter.ttf);
}

@font-face {
  font-family: Outfit;
  src: url(../../fonts/Outfit.ttf);
}

* {
  font-family: Roboto;
  font-size: 16px;
}

body {
  background-color: aqua;
}

/* ============================================================== */

@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter.ttf);
}

@font-face {
  font-family: Outfit;
  src: url(../../fonts/Outfit.ttf);
}

* {
  font-family: Roboto;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  background-color: #f4fbff;
}
/* ========================================================================= REVIEWS TABLE START HERE =========================================================== */
.dash-notification {
  margin-top: 100px;
}
.class-Menagent-Heading {
  background: #0072b1;
  padding: 12px 24px;
  margin: 24px 0px 0px 0px;
  color: var(--Colors-White, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.rewiew-sec {
  background: var(--Colors-White, #fff);
}
/* BEGIN: TABLE */

.installment-table .hack1 {
  display: table;
  table-layout: fixed;
  width: 100%;
}

 

.installment-table .hack2 {
  display: table-cell;
  overflow-x: auto;
  width: 100%;
}

.installment-table .table {
  width: 100%;
  border-collapse: collapse;
}

.installment-table .table td {
}

.table-cell {
  display: flex;
  align-items: center;
  padding: 10px;
}

.table-img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 10px;
}

.para-1 {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit the content to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  max-height: 2.4em; /* 1.2 * 2 lines */
}

.para-2 {
  margin-left: 70px;
  margin-top: -20px;
}

.installment-table .table thead tr {
}
/* thead area */

.installment-table .table thead tr th {
  color: var(--Colors-Logo-Color, #0072b1);
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.installment-table .table thead tr th:first-child {
  padding: 20px 180px 20px 40px;
}

.installment-table .table thead tr th:nth-child(2) {
  padding: 16px 92px 20px 0px;
}

.installment-table .table thead tr th:nth-child(3),
.installment-table .table thead tr th:nth-child(4),
.installment-table .table thead tr th:nth-child(8),
.installment-table .table thead tr th:nth-child(9),
.installment-table .table thead tr th:nth-child(10) {
  padding: 16px 130px 20px 0px;
}

.installment-table .table thead tr th:nth-child(5) {
  padding: 16px 107px 20px 0px;
}

.installment-table .table thead tr th:nth-child(7) {
  padding: 16px 166px 20px 0px;
}

.installment-table .table thead tr th:nth-child(6) {
  padding: 16px 107px 20px 0px;
}

.installment-table .table thead tr th:last-child {
  padding: 16px 30px 20px 0px;
}
/* tbody area */

.installment-table .table tbody tr td {
  color: var(--Colors-Light-Text, #7d7d7d);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}

.installment-table .table tbody tr td:first-child {
  padding: 0px 30px 0px 40px;
}

.review-text {
  color: var(--Colors-Light-Text, #7d7d7d);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-top: -8px;
}

.installment-table .table tbody tr td:nth-child(2),
.installment-table .table tbody tr td:nth-child(3),
.installment-table .table tbody tr td:nth-child(4),
.installment-table .table tbody tr td:nth-child(5),
.installment-table .table tbody tr td:nth-child(6),
.installment-table .table tbody tr td:nth-child(7),
.installment-table .table tbody tr td:nth-child(8),
.installment-table .table tbody tr td:nth-child(9),
.installment-table .table tbody tr td:nth-child(10) {
  padding: 20px 40px 0px 0px;
}

.installment-table .table tbody tr td:last-child {
  padding: 20px 70px 15px 0px;
  text-align: center;
}

.installment-table .table tbody tr td i {
  margin-left: 15px;
}

.installment-table .table tbody tr td i:first-child {
  color: #0a4279;
  margin: 0px;
}

.installment-table .table tbody tr td i:last-child {
  color: #ff0707;
}
.form-check {
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  padding-top: 8px;
  margin-bottom: 0px;
}
.form-check-input:checked {
  background-color: #0072b1;
  border-color: #0072b1;
}
.select-reason {
  padding-top: 12px;
}
/* ===========================================================================================================================================================  */

@media (max-width: 575px) {
  /* table */
  .installment-table .table thead tr th {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .installment-table .table tbody tr td {
    padding-top: 15px !important;
    padding-bottom: 10px !important;
  }
  /* table */
}

@media (max-width: 380px) {
  #installment-contant .breadcrumb .breadcrumb-item {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  /* table */
  .installment-table .table thead tr th {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .installment-table .table tbody tr td {
    padding-top: 15px !important;
    padding-bottom: 10px !important;
  }
  /* table */
}
/* ============================== Underline Tabs syle Start=========================== */

.container-box {
  /* display: inline-block;
    text-align: left;
    padding-bottom: 32px;
    max-width: 880px;
    margin-left: 5%;
    margin-right: 5%; */
}

.features {
  text-align: center;
}

.selector {
  padding-top: 24px;
  display: flex;
}

.feature-bullet {
  display: flex;
}

.tab-cont {
  position: -webkit-sticky;
  position: sticky;
  top: 16px;
  flex: 1;
  /* max-width: 235px; */
  border-bottom: 1px solid rgba(24, 24, 24, 0.2);
  background: var(--Colors-White, #fff);
  height: 100%;
  outline: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
}

.tab-cont button {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  padding: 24px;
  color: var(--Colors-Text-Color, #181818);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  border-color: transparent;
  background-color: #fff;
  outline: 0;
}

.tab-cont button:hover {
  /* background-color: #F8F9FA; */
  cursor: pointer;
}

.tab-content {
  /* flex: 9; */
  height: 100%;
  /* padding-left: 32px; */
  animation: anime 1.5s;
  text-align: left;
  display: none;
  font-family: sans-serif;
}

.tab-content.active {
  display: block;
}

.tab-cont .but.active {
  color: var(--Colors-Logo-Color, #0072b1);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border-bottom: 4px solid var(--Colors-Logo-Color, #0072b1);
  background: var(--Colors-White, #fff);
  line-height: normal;
}

@keyframes anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  .tab-cont {
    display: flex;
    flex-direction: row;
    border: none;
  }
  .tab-cont .but.active {
    border-left: none;
    border-bottom: 4px solid #3a62ca;
  }
  .selector {
    flex-direction: column;
  }
  .tab-content {
    padding-left: 0;
  }
}

@media only screen and (max-width: 425px) {
  .tab-cont button {
    width: 100% !important;
    text-align: center !important;
  }
}
/* ============================== Underline Tabs syle END=========================== */
/* =======Select-css-start============= */
/* p {
            margin: 20px
        }
         */

.myServices-section {
  border-radius: 8px;
  background: var(--Colors-White, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.select-section {
  flex-wrap: wrap;
  display: flex;
  gap: 12px;
  align-items: center;
}

.Select-1.basic {
  color: var(--Colors-Place-Holder, #ababab) !important;
  font-family: Roboto;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Select-1 select {
  border-radius: 4px;
  border: 1px solid var(--Colors-Logo-Color, #0072b1);
  background: var(--Colors-White, #fff);
  width: 200px;
  height: 35px;
  padding: 8px 12px;
  outline: none !important;
  color: #ababab;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Select-1 select option {
  color: #ababab;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.my-Services {
  color: var(--Colors-Logo-Color, #0072b1);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

select.simple {
  background: #f5f5f5;
  border: 0;
}
/* =======Select-css-end============= */
/* dropdown css */
.service-btn button {
  background: #0072b1;
  color: #fff;
}
.service-btn button:hover {
  color: #fff !important;
}
.action-btn {
  border-radius: 4px;
  background: #fff;
  padding: 8px 12px;
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-shadow: none !important;
}
.action-btn:hover {
  color: #7d7d7d !important;
}
.expert-dropdown ul {
  border: none;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.08);
  padding: 12px 0px;
}
.expert-dropdown ul li {
  color: #ababab;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
  padding: 8px 0px 8px 12px;
}
.expert-dropdown ul li:hover {
  border-radius: 2px;
  background: #0072b1;
  color: #ffffff !important;
}
.expert-dropdown .dropdown-item {
  padding: 0px;
}
.btn:hover {
  color: #fff;
}
.dropdown-item:hover {
  background-color: #0072b1;
}
.dropdown-item:hover li {
  color: #fff;
}
