@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../../fonts/Inter.ttf);
}
@font-face {
  font-family: Outfit;
  src: url(../../fonts/Outfit.ttf);
}
* {
  font-family: Roboto;
  font-size: 16px;
}

/* profile upload  */
.avatar-upload {
  position: relative;
  max-width: 205px;
  /* margin: 50px auto; */
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 30px;
  z-index: 1;
  bottom: 0px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-bottom: 16px;
  margin-right: 100px;
  border-radius: 100%;
  background: #ababab;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-preview {
  width: 100px;
  height: 100px;
  position: relative;
  left: 25px;
  bottom: 16px;
  border-radius: 100px;
  border: 4px solid var(--Colors-White, #fff);
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f030";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 2px;
  left: 1px;
  right: 0;
  text-align: center;
  margin: auto;
  font-size: 8px;
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* =============== */
.main-section {
  background: #f4fbff;
  padding: 40px 40px 20px 40px;
  margin-top: 100px;
}
.main-section nav ol li a {
  text-decoration: none;
  color: #181818;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}
.main-section nav ol li {
  color: #ababab;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}
.class-management {
  width: 100%;
  background: #0072b1;
  padding: 12px 24px;
  display: flex;
}
.class-management h5 {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  padding-left: 12px;
  margin-bottom: 0px;
}

.manage-profile-sec {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  padding: 16px 24px;
  margin-top: 20px;
}
.manage-profile-sec h5 {
  color: #0072b1;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0px;
}
.profile-section {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  padding: 20px;
  margin-top: 20px;
}
.profile-form {
  padding-top: 20px;
}
.profile-form label {
  color: #0072b1;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
.profile-form .prof-lang {
  padding-top: 20px;
}
.profile-form input,
.profile-form button.form-control {
  border-radius: 4px;
  background: #f4fbff;
  border: none;
  color: #ababab;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  padding: 12px 20px;
  box-shadow: none !important;
}
.profile-form .select2-container--default .select2-selection--multiple {
  border-radius: 4px;
  background: #f4fbff;
  border: none;
  color: #fff !important;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  padding: 10px 20px;
  box-shadow: none !important;
}
.profile-form
  .select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border: solid black 0px;
  outline: 0;
}
.profile-form
  .select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #0072b1;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
  padding-left: 20px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
  color: #fff;
}
.profile-form
  .select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  background-color: transparent;
  border: none;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0 4px;
  position: absolute;
  left: 0;
  top: 0;
}
.profile-form input:focus {
  background: #f4fbff !important;
}
.profile-form select {
  border-radius: 4px;
  background: #f4fbff;
  padding: 12px 20px;
  border: none;
  box-shadow: none;
  color: #ababab;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  box-shadow: none !important;
}
.profile-form textarea {
  width: 100%;
  resize: none;
  border-radius: 4px;
  background: #f4fbff;
  border: none;
  color: #ababab;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  padding: 12px 20px;
  box-shadow: none !important;
}
.profile-form textarea:focus {
  background: #f4fbff;
}
.profile-form textarea:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
.profile-form .view-button {
  border-radius: 0px 4px 4px 0px;
  background: #0072b1;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  padding: 12px 20px;
  box-shadow: none !important;
}
.profile-form .remove-button {
  background: #fc5757;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  padding: 12px 20px;
  border: none;
  box-shadow: none !important;
}
.profile-form .hide-button {
  border-radius: 0px 4px 4px 0px;
  background: #0072b1;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  border: none;
  padding: 12px 20px;
  box-shadow: none;
}
.copyright-sec {
  padding-top: 80px;
}
.copyright-sec p {
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
/* Modal css srart */
.verification-modal {
  max-width: 560px;
}
.verification-modal .content-modal {
  border-radius: 8px 8px 0px 0px;
  border: none;
}
.verification-modal .modal-heading {
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px 0px 0px;
  background: #0072b1;
}
.verification-modal .modal-heading h5 {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.verification-modal .body-modal {
  border-radius: 0px 0px 8px 8px;
  background: #fff;
  padding: 20px;
}
.body-modal h5 {
  color: #0072b1;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 8px;
  margin-bottom: 0px;
}
.body-modal .url-sec {
  padding-top: 16px;
}
.body-modal h5 span {
  color: #fc5757;
}
.body-modal .url {
  padding-top: 10px;
}
.body-modal p {
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 8px;
}
.body-modal .add-button {
  float: right;
}
.body-modal .add-btn {
  border-radius: 4px;
  background: #0072b1;
  padding: 8px 40px;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  margin-top: 16px;
}
.body-modal .radio-btn-list label {
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.body-modal .remove-btn {
  border-radius: 4px;
  border: 2px solid #fc5757;
  background: #fff;
  color: #fc5757;
  margin-right: 10px;
}
.body-modal select {
  border-radius: 4px;
  background: #f4fbff;
  padding: 12px 20px;
  border: none;
  box-shadow: none;
  color: #ababab;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  box-shadow: none !important;
}
.radio {
  position: relative;
  display: flex;
  margin-top: 10px;
}

input[type="radio"] {
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  border: 2px solid #7d7d7d;
  border-radius: 50%;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked ~ .checkmark:after {
  display: block;
}

.radio .checkmark:after {
  top: 1px;
  left: 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0072b1;
}

.radio label {
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
}
.radio input {
  margin-right: 8px;
}
/* radio tab menu css start */
article {
  display: none;
}
article.on {
  display: block;
}
/* ended */
/* Modal buttons css */
.body-modal .cancel-btn {
  border-radius: 4px;
  border: 1px solid #ababab;
  padding: 8px 24px;
  color: #ababab;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  margin-top: 16px;
}
.body-modal .submit-btn {
  border-radius: 4px;
  background: #0072b1;
  padding: 8px 24px;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  margin-top: 16px;
}
.body-modal .inp {
  width: 89%;
  margin-top: 10px;
}
.body-modal .add-categories {
  padding: 8px 20px;
  border-radius: 4px;
  background: #0072b1;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  line-height: normal;
  width: 100%;
  margin-top: 10px;
}

/* Upload css start */
.profile-section .file-btn {
  border-radius: 4px;
  background: #0072b1;
  padding: 8px 20px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.become-upload-Card {
  border-radius: 8px;
  background: #f4fbff;
  padding: 40px;
}

.uPload-pic-btn {
  color: #0072b1 !important;
  font-family: Outfit !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  display: block;
  padding-top: 28px;
  padding-bottom: 12px;
}
.document {
  padding-top: 16px !important;
}
.upload-gray-text {
  color: #ababab;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#file-drag {
  display: flex !important;
  flex-direction: column !important;
}

Upload Demo .uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;

  label {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all 0.2s ease;
    user-select: none;
  }

  &.hover {
    border: 3px solid;
    box-shadow: inset 0 0 0 6px #eee;

    #start {
      i.fa {
        transform: scale(0.8);
        opacity: 0.3;
      }
    }
  }
}

#start svg {
  margin: 0 auto;
}

#start {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* float: left;
  clear: both; */
  width: 100%;

  &.hidden {
    display: none;
  }

  i.fa {
    font-size: 50px;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
  }
}

#response {
  float: left;
  clear: both;
  width: 100%;

  &.hidden {
    display: none;
  }

  #messages {
    margin-bottom: 0.5rem;
  }
}

#file-image {
  display: inline;
  margin: 0 auto 0.5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;

  &.hidden {
    display: none;
  }
}

#notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;

  &.hidden {
    display: none;
  }
}

progress,
.progress {
  appearance: none;
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}

.progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}

.progress[value]::-webkit-progress-value {
  border-radius: 4px;
}

.progress[value]::-moz-progress-bar {
  border-radius: 4px;
}

input[type="file"] {
  display: none;
}

/* div {
  margin: 0 0 .5rem 0;
} */

.becomeExert-uPload-file-section .btn {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}
.file-upload {
  width: 100%;
}
/* Upload css End */
/* new */
.rqst-send {
  border-radius: 4px;
  background: #0072b1;
  padding: 8px 28px;
  color: var(--Colors-White, #fff);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}
/* ======= */
/* faqs css start */
.manage-profile-faq-sec {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.manage-profile-faq-sec h5 {
  color: #0072b1 !important;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0px;
  margin-top: 7px;
}
.manage-profile-faq-sec .add-faq-btn {
  border-radius: 4px;
  background: #0072b1;
  padding: 8px 28px;
  color: #fff;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  box-shadow: none !important;
}
/* =======================FAQs============================ */

.faq-sec {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
  padding: 24px;
  margin-top: 32px;
}

.services-h1 {
  color: #0072b1;
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 12px;
  margin-bottom: 0px;
}

.accordion {
  width: 100%;
  /* max-width: 1000px; */
}

.accordion-item {
  border-radius: 4px;
  background: #f4fbff;
  margin: 1rem 0;
  border: none;
}

.accordion-item-head {
  padding: 12px 20px;
  color: #ababab;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.accordion-item-head::after {
  content: "\270E";
  font-size: 16px;
  position: absolute;
  right: 1rem;
}

.accordion-item-head.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  color: #ababab;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}
input[type="radio"] {
  opacity: 1;
  width: 16px;
  height: 16px;
}
/* .form-check-input:checked[type="radio"] {
  margin: 0px;
} */

/* ============================================================================= */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
  .main-section {
    padding: 40px 20px;
  }
  .manage-profile-faq-sec .add-faq-btn {
    padding: 8px;
    font-size: 12px;
  }
  .manage-profile-faq-sec h5 {
    font-size: 12px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background-color: blueviolet;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: chartreuse;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: chocolate;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: dodgerblue;
  }
}
