@font-face {
    font-family: Roboto;
    src: url(../../fonts/Roboto.ttf);
 }
 @font-face {
    font-family: Inter;
    src: url(../../fonts/Inter.ttf);
 }
 @font-face {
    font-family: Outfit;
    src: url(../../fonts/Outfit.ttf);
 }
 *{
    font-family: Roboto;
    font-size: 16px;
 }
 .Calendar-heading{
    border-radius: 8px;
background: var(--Colors-White, #FFF);

/* Drop Shadow */
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
 }
 .title span{
    color: var(--Colors-Logo-Color, #0072B1);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;

padding: 20px 24px;
justify-content: space-between;
align-items: center;
 }
 .pop-up-start{
    float: inline-end;
    padding: 20px 24px;
 }
 .btn-primarys{
    display: flex;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: var(--Colors-Logo-Color, #0072B1);
color: #FFF;
outline: none !important;
box-shadow: none !important;
 }
 .modal-header{
    color: var(--Colors-White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    border-radius: 8px 8px 0px 0px;
background: var(--Colors-Logo-Color, #0072B1);
display: flex;
justify-content: center;
 }
 .modal-content {
    border-radius: 1.3rem;
width: 400px;
}
.btn:hover {
    color: #ABABAB;
}
.col-form-label{
    color: var(--Colors-Text-Color, #181818);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.form-control{
    box-shadow: none !important;
    outline: none;
}
.modal-footer{
    display: flex;
    justify-content: space-between;
}
.btn-secondarys{
    color: var(--Colors-Place-Holder, #ABABAB);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 4px;
border: 1px solid var(--Colors-Place-Holder, #ABABAB);
box-shadow: none !important;
outline: none;
padding: 8px 24px;
}
.btn-primarya{
    display: flex;
padding: 8px 27px 8px 26px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: var(--Colors-Logo-Color, #0072B1);
border: none;
color: #FFF;
}
h2, p {
    text-align:center;
    font-family:sans-serif;
    margin:30px 0;
  }
  section {
  /*   max-width:900px; */
    margin:0 auto;
  }
  
  .responsive-iframe-container {
    margin:0 auto;
      position: relative;
      height:0;
      overflow: hidden;
  }
  .responsive-iframe-container iframe
  /*.vresponsive-iframe-container object,*/
  /*.vresponsive-iframe-container embed */ 
  {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
  }
  @media (max-width:549px) {
    .desktop-header {
      display:none;
    }
      .large-container {
          display: none;
      }
      .responsive-iframe-container {
          padding-bottom:500px;
      width:100%;
      }
  }
  @media (min-width:550px) {
    .mobile-header {
      display:none;
    }
      .small-container {
          display: none;
      }
      .responsive-iframe-container {
          padding-bottom:650px;
  /*     width:800px; */
      width: 100%;
      max-width: 1400px;
      }
  }