body {
  background-color: #f4fbff;
}
.hide {
  display: none;
}
.payment-page {
  margin-top: 100px;
}
.braedDashboard a {
  color: var(--Colors-Text-Color, #181818) !important;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.confirm-delete .form-check {
  color: #7d7d7d;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  padding-top: 8px;
  margin-bottom: 0px;
}
.confirm-delete .form-check-input:checked {
  background-color: #0072b1;
  border-color: #0072b1;
}
.confirm-delete .select-reason {
  padding-top: 12px;
}
.braedClassManagment a {
  color: var(--Colors-Light-Text, #7d7d7d) !important;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.onlineClass-banner {
  padding: 12px 24px;
  border-radius: 8px;
  background: var(--Colors-Logo-Color, #0072b1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
}

.onlineClass-banner span {
  color: var(--Colors-White, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 12px;
}

.payment-type {
  border-radius: 8px;
  background: var(--Colors-White, #fff);
  /* Drop Shadow */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  padding: 40px;
}

.online-Class-Select-Heading {
  color: var(--Colors-Logo-Color, #0072b1);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.payment-input {
  border-radius: 4px;
  background: var(--Colors-Dashboard-Background, #f4fbff);
  padding: 12px 20px;
  color: var(--Colors-Place-Holder, #ababab);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  border: none;
  outline: none;
}

.Yes {
  color: var(--Colors-Place-Holder, #ababab);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.radio-btn {
  width: 20px;
  height: 20px;
}

.rAdio-Section {
  margin-top: 16px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -1px;
  left: 2px;
  position: relative;
  background-color: #f4fbff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #f4fbff;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -1px;
  left: 2px;
  position: relative;
  background-color: #0072b1;
  content: "";
  display: inline-block;
  visibility: visible;
   border: 2px solid white; 
} */
.select-reason input[type="radio"]:checked:after {
  visibility: hidden;
  /* border: 2px solid white; */
}
.select-reason input[type="radio"]:after {
  width: 0px;
  height: 0px;
}
.radio-input {
  padding: 12px 20px;
  border-radius: 4px;
  background: var(--Colors-Dashboard-Background, #f4fbff);
  color: var(--Colors-Place-Holder, #ababab);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  border: none;
  outline: none;
}

.form-control-textarea {
  border-radius: 4px;
  background: var(--Colors-Dashboard-Background, #f4fbff);
  color: var(--Colors-Place-Holder, #ababab);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  padding: 12px 20px;
  height: 200px !important;
  outline: none !important;
}

.repeat-btn {
  padding: 12px;
  border-radius: 4px;
  background: var(--Colors-Dashboard-Background, #f4fbff);
  color: var(--Colors-Place-Holder, #ababab);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  margin-bottom: 15px;
  width: 127px;
}

::placeholder {
  color: var(--Colors-Place-Holder, #ababab);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.repeats-btn-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.durationMain-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.Duration-time {
  border-radius: 4px;
  background: var(--Colors-Dashboard-Background, #f4fbff);
  padding: 6px 8px;
  /* width: 200px; */
  color: var(--Colors-Place-Holder, #ababab);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Duration-input {
  width: 50px;
  padding: 12px;
  border-radius: 4px;
  border: 0.5px solid var(--Colors-Place-Holder, #ababab);
  background: var(--Colors-Dashboard-Background, #f4fbff);
  outline: none !important;
  margin-right: 4px;
}

.Duration-text {
  color: var(--Colors-Place-Holder, #ababab);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.timeDurationdetile {
  color: var(--Colors-Place-Holder, #ababab);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.timeDurationdetile span {
  margin-top: 10px;
  color: var(--Colors-Logo-Color, #0072b1);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
